#app {
  background-color: #white;
  /* align-content: center; */
}

.button {
  align-items: center;
}

#text-input {
  width: 300px;
  height: 100px;
}

#read-view {
  font-size: 90px;
}

.counter {
  display: flex;
  justify-content: space-between;
  max-width: 70px;
  margin: 10px 190px;
}

.controls {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  /* width: 100%; */
  margin: 10px 90px;
}

html,
body {
  font-family: 'Open sans';
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 425px;
}

div {
  text-align: center;
}

h1 {
  font-family: 'Open sans', monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: #2f5876;
}

a:link,
a:visited {
  color: #000000;
  outline: 0;
  text-decoration: none;
}

.scrub {
  height: 17px;
}

.header {
  margin-top: 10px;
  align-items: center;
  border-bottom: 0.5px solid #dadada;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: #444;
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.flex:hover {
  opacity: 0.4;
}

.flex .fa {
  font-size: 50px;
  color: #2f5876;
}

.info {
  width: 12px;
}

.icon:hover {
  filter: brightness(50%);
}

#footer {
  position: absolute;
  bottom: 3;
  right: 6;
}
